{% include "base_layout.html" %}



<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
        box-sizing: border-box;
        }

        .column {
            float: left;
            padding: 10px;
            height: 800px; /* Should be removed. Only for demonstration */
        }

        .left {
        width: 60%;
        }

        .right {
        width: 40%;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }


        .gameboard_grid {
            font-family: Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            margin: 20px auto;
        }
        td {
            position: relative;
            width: 120px;
            height: 120px;
            border: 1px solid black;
        }


        .cell_label {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 12px;
            margin: 5px;
        }


        .circle {
            position: absolute;
            display:block;

            top: 80%;
            left: 20%;
            transform: translate(-50%, -50%);
            
            height:20px;
            width:20px;

            border-radius: 50%;
            background-color: purple;
        }

        .cell_with_image {
            background-image: url('path_to_your_image.jpg'); /* Specify the path to your image */
            background-size: cover; /* Cover the entire cell */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
        }

    </style>
</head>


<body>

    <h1> Clue-Less</h1>

    <div class="row">
        <div class="column left" style="background-color:#aaa;">
            <h2>Game Board</h2>

            <div class="gameboard_grid">
            <table class="gameboard_table">
                <tr>
                    <td id="Study">
                        <label class="cell_label" for="Study">Study</label><br>
                    </td>
                    <td id="Study-Hall Hall">
                        <label class="cell_label" for="Study-Hall Hall">Study-Hall Hall</label><br>
                    </td>
                    <td id="Hall">
                        <label class="cell_label" for="Hall">Hall</label><br>
                    </td>
                    <td id="Hall-Lounge Hall">
                        <label class="cell_label" for="Hall-Lounge Hall">Hall-Lounge Hall</label><br>
                    </td>
                    <td id="Lounge">
                        <label class="cell_label" for="Lounge">Lounge</label><br>
                    </td>
                </tr>
                <tr>
                    <td id="Study-Library Hall">
                        <label class="cell_label" for="Study-Library Hall">Study-Library Hall</label><br>
                    </td>
                    <td id="cell11"></td>
                    <td id="Hall-Billiard Room Hall">
                        <label class="cell_label" for="Hall-Billiard Room Hall">Hall-Billiard Room Hall</label><br>
                    </td>
                    <td id="cell13"></td>
                    <td id="Lounge-Dining Room Hall">
                        <label class="cell_label" for="Lounge-Dining Room Hall">Lounge-Dining Room Hall</label><br>
                    </td>
                </tr>
                <tr>
                    <td id="Library">
                        <label class="cell_label" for="Library">Library</label><br>
                    </td>
                    <td id="Library-Billiard Room Hall">
                        <label class="cell_label" for="Library-Billiard Room Hall">Library-Billiard Room Hall</label><br>
                    </td>
                    <td id="Billiard Room">
                        <label class="cell_label" for="Billiard Room">Billiard Room</label><br>
                    </td>
                    <td id="Billiard Room-Dining Room Hall">
                        <label class="cell_label" for="Billiard Room-Dining Room Hall">Billiard Room-Dining Room Hall</label><br>
                    </td>
                    <td id="Dining Room">
                        <label class="cell_label" for="Dining Room">Dining Room</label><br>
                    </td>
                </tr>
                <tr>
                    <td id="Library-Conservatory Hall">
                        <label class="cell_label" for="Library-Conservatory Hall">Library-Conservatory Hall</label><br>
                    </td>
                    <td id="cell31"></td>
                    <td id="Billiard Room-Ball Room Hall">
                        <label class="cell_label" for="Billiard Room-Ball Room Hall">Billiard Room-Ball Room Hall</label><br>
                    </td>
                    <td id="cell33"></td>
                    <td id="Dining Room-Kitchen Hall">
                        <label class="cell_label" for="Dining Room-Kitchen Hall">Dining Room-Kitchen Hall</label><br>
                    </td>
                </tr>
                <tr>
                    <td id="Conservatory">
                        <label class="cell_label" for="Conservatory">Conservatory</label><br>
                    </td>
                    <td id="Conservatory-Ball Room Hall">
                        <label class="cell_label" for="Conservatory-Ball Room Hall">Conservatory-Ball Room Hall</label><br>
                    </td>
                    <td id="Ball Room">
                        <label class="cell_label" for="Ball Room">Ball Room</label><br>
                    </td>
                    <td id="Ball Room-Kitchen Hall">
                        <label class="cell_label" for="Ball Room-Kitchen Hall">Ball Room-Kitchen Hall</label><br>
                    </td>
                    <td id="Kitchen">
                        <label class="cell_label" for="Kitchen">Kitchen</label><br>
                    </td>
                </tr>
            </table>
            </div>


        </div>
        <div class="column right" style="background-color:#bbb;">
            <h2 id="playerTurn">It is your turn!</h2>

            <div class="dispaly_char_info">
                <label>Character Name:</label>
                <input id="character_name" readonly>
                <br>
                <label>Location:</label>
                <input id="character_location" readonly>
                <br>
                <label>Cards:</label>
                <ul id="character_cards">
                    <!-- Dynamically show character's cards -->
                </ul>
                <br>
            </div>

            <label id="user_prompt">What would you like to do?</label>
            <div id="display_options" class="display_turn_options"><br>
                <button id="move_button" style="display: none;" onclick='ask_move()'>Move to new location</button><br>
                <button id="suggest_button" style="display: none;" onclick='ask_suggest()'>Make suggestion</button><br>
                <button id="accuse_button" style="display: none;" onclick='ask_accusation()'>Make accusation</button>
            </div>
            <div id="display_move_options" class="display_move_options"><br>
                <button id="do_move1" style="display: none;" onclick='do_move(1)'>Move</button><label id="local_1" style="display: none;"></label><br>
                <button id="do_move2" style="display: none;" onclick='do_move(2)'>Move</button><label id="local_2" style="display: none;"></label><br>
                <button id="do_move3" style="display: none;" onclick='do_move(3)'>Move</button><label id="local_3" style="display: none;"></label><br>
            </div>
            <div id="display_accusation" class="display_accusation" style="display: none;"><br>
                <label>Select Location:</label>
                <select class="dropdown-location">
                    <option value="location-1" >Study</option>
                    <option value="location-2">Hall</option>
                    <option value="location-3">Lounge</option>
                    <option value="location-4">Library</option>
                    <option value="location-5">Billiard Room</option>
                    <option value="location-6">Dining Room</option>
                    <option value="location-7">Conservatory</option>
                    <option value="location-8">Ball Room</option>
                    <option value="location-9">Kitchen</option>
                 </select><br>
                <label>Select Weapon:</label>
                <select class="dropdown-weapon">
                    <option value="weapon-1" >Candlestick</option>
                    <option value="weapon-2">Dagger</option>
                    <option value="weapon-3">Lead Pipe</option>
                    <option value="weapon-4">Revolver</option>
                    <option value="weapon-5">Rope</option>
                    <option value="weapon-6">Wrench</option>
                 </select><br>
                 <label>Select Character:</label>
                 <select class="dropdown-character">
                    <option value="character-1">Prof. Plum</option>
                    <option value="character-2">Mrs. Peacock</option>
                    <option value="character-3">Mr. Green</option>
                    <option value="character-4">Mrs. White</option>
                    <option value="character-5">Col. Mustard</option>
                    <option value="character-6">Miss Scarlet</option>
                 </select><br>
                 <button id="move_button" onclick='do_accuse()'>Submit Suggestion</button><br>
            </div>
        </div>
        

        </div>
    </div>

</body>


<script>

    // "Global variables"
    let g_game_id = null;
    let g_room_id = "{{room.id}}";
    let g_room_key = "{{room.room_key}}";
    let g_token = document.cookie
    .split('; ')
    .find(row => row.startsWith('token='))
    .split('=')[1];
    console.log("token: ",g_token);

    // Location IDs
    let g_location_option1 = null; 
    let g_location_option2 = null;
    let g_location_option3 = null;

    // Accusatino globals
    let g_accuse_location = null;
    let g_accuse_weapon = null;
    let g_accuse_character = null;

    // curr player information
    let g_curr_location = null;


    async function do_accuse()
    {
        console.log("do_accuse()");
        var url = `/api/game/${g_room_id}/character/make_accusation}`;
        
        try{
            const response = await axios.post(url, null, {
              headers: {
                'accept': 'application/json',
                'Authorization': `Bearer ${g_token}`
              }
            });
            console.log(response.data);
            // refresh page and start from the top
            window.location.href = `/gameboard/${g_room_key}`;
            return true;
        } catch (error) {
            console.log(`do_move axios.post got an error: ${error}`);
            return false;
        }
    }


    async function ask_accusation()
    {
        console.log("ask_accusation()");

        // Update prompt question
        const user_prompt_label = document.getElementById('user_prompt');
        user_prompt_label.innerHTML = "Make an accusation:";

        // Hide turn & move option buttons
        const button1 = document.getElementById('move_button');
        const button2 = document.getElementById('suggest_button');
        const button3 = document.getElementById('accuse_button');
        button1.style.display = 'none';
        button2.style.display = 'none';
        button3.style.display = 'none';

        const move1_but = document.getElementById('do_move1');
        const move2_but = document.getElementById('do_move2');
        const move3_but = document.getElementById('do_move3');
        move1_but.style.display = 'none';
        move2_but.style.display = 'none';
        move3_but.style.display = 'none';

        const move1_label  = document.getElementById('local_1');
        const move2_label  = document.getElementById('local_2');
        const move3_label  = document.getElementById('local_3');
        move1_label.style.display = 'none';
        move2_label.style.display = 'none';
        move3_label.style.display = 'none';

        // Show accusation 
        const display_accusation = document.getElementById('display_accusation');
        display_accusation.style.display = 'inline-block';

        return true;
    }


    async function do_move(option_num)
    {
        console.log("do_move()");
        var url = '';

        switch(option_num){
            case 1:
                url = `/api/game/${g_room_id}/character/move/${g_location_option1}`;
                break;
            case 2:
                url = `/api/game/${g_room_id}/character/move/${g_location_option2}`;
                break;
            case 3:
                url = `/api/game/${g_room_id}/character/move/${g_location_option3}`;
                break;
        }
        
        try{
            const response = await axios.post(url, null, {
              headers: {
                'accept': 'application/json',
                'Authorization': `Bearer ${g_token}`
              }
            });
            console.log(response.data);
            // refresh page and start from the top
            window.location.href = `/gameboard/${g_room_key}`;
            return true;
        } catch (error) {
            console.log(`do_move axios.post got an error: ${error}`);
            return false;
        }

    }

    async function ask_move()
    {
        console.log("ask_move()");
        var url = `/api/game/${g_room_id}/character/valid_moves/`;

        try{
            const response = await axios.post(url, null, {
              headers: {
                'accept': 'application/json',
                'Authorization': `Bearer ${g_token}`
              }
            });
            console.log(response.data);
            const moves_list = response.data;


            // Update prompt question
            const user_prompt_label = document.getElementById('user_prompt');
            user_prompt_label.innerHTML = "Where would you like to move to?";

            // Hide turn option buttons
            const button1 = document.getElementById('move_button');
            const button2 = document.getElementById('suggest_button');
            const button3 = document.getElementById('accuse_button');
            button1.style.display = 'none';
            button2.style.display = 'none';
            button3.style.display = 'none';

            const move1_but = document.getElementById('do_move1');
            const move2_but = document.getElementById('do_move2');
            const move3_but = document.getElementById('do_move3');
            move1_but.style.display = 'none';
            move2_but.style.display = 'none';
            move3_but.style.display = 'none';

            const move1_label  = document.getElementById('local_1');
            const move2_label  = document.getElementById('local_2');
            const move3_label  = document.getElementById('local_3');
            move1_label.style.display = 'none';
            move2_label.style.display = 'none';
            move3_label.style.display = 'none';

            // Show move option buttons
            if(response.data[0]){
                move1_but.style.display = 'inline-block';
                move1_label.style.display = 'inline-block';
                move1_label.innerHTML = response.data[0].name;
                g_location_option1 = response.data[0].id;
            }
            if(response.data[1]){
                move2_but.style.display = 'inline-block';
                move2_label.style.display = 'inline-block';
                move2_label.innerHTML = response.data[1].name;
                g_location_option2 = response.data[1].id;
            }
            if(response.data[2]){
                move3_but.style.display = 'inline-block';
                move3_label.style.display = 'inline-block';
                move3_label.innerHTML = response.data[2].name;
                g_location_option3 = response.data[2].id;
            }
            return true;
        } catch (error) {
            console.log(`ask_move axios.post got an error: ${error}`);
            return false;
        }
    }
    
    function get_char_color(character_name)
    {
        var char_color = "black";
        switch(character_name){
            case "Prof. Plum":
                char_color = "purple";
                break;
            case "Mrs. Peacock":
                char_color = "blue";
                break;
        }
        return char_color;
    }

    async function place_all_characters()
    {
        console.log("place_all_characters()");
        var url = `/api/game/${g_game_id}/`;
        console.log(url);

        try{
            const response = await axios.get(url, null, {
              headers: {
                'accept': 'application/json',
              }
            });
            console.log(response.data);

            // Go through the list of locations and display any chars there
            const location_list = response.data["locations"];
            console.log(location_list);

            for (let i = 0; i < location_list.length; i++) {
                console.log("-------");
                console.log(location_list[i].name);
                for (let j = 0; j < location_list[i].characters.length; j++){
                    console.log(location_list[i].characters[j].name);

                        // Update the character's circle color and location
                        const cell = document.getElementById(location_list[i].name);
                        const characterCircle = document.createElement('div');
                        characterCircle.className = 'circle';
                        characterCircle.style.backgroundColor = get_char_color(location_list[i].characters[j].name);
                        //cell.innerHTML = ''; // Clear previous content
                        cell.appendChild(characterCircle);
                        
                }
            }
            return true;
        } catch (error) {
            console.log(`load_other_character_info axios.post got an error: ${error}`);
            alert(error.message);
            throw error;
        }
    }

    async function load_my_character_info()
    {
        console.log("load_my_character_info()");
        var url = `/api/game/${g_room_id}/character/`;

        try {
            const response = await axios.get(url, {
              headers: {
                'accept': 'application/json',
                'Authorization': `Bearer ${g_token}`
              }
            });
            console.log(response.data);

            // Update character display information
            const game_id = response.data["game_id"];
            g_game_id = game_id;
            place_all_characters();

            const character_name = response.data["name"];
            const character_location = response.data["location"];
            const character_cards = response.data["hand"];

            document.getElementById("character_name").value = character_name;
            document.getElementById("character_location").value = character_location.name;
            g_curr_location = character_location.name;

            const bulletList = document.getElementById('character_cards');
            character_cards.forEach(function (card_obj) {
                const li = document.createElement('li');
                li.textContent = card_obj.name;
                bulletList.appendChild(li);
            });

            // Update display and buttons of available moves during turn
            const user_prompt_label = document.getElementById('user_prompt');
            user_prompt_label.innerHTML = "What would you like to do?";
            const button1 = document.getElementById('move_button');
            const button2 = document.getElementById('suggest_button');
            const button3 = document.getElementById('accuse_button');

            if (character_location.name.indexOf("-") == -1) { // currently in room
                button1.style.display = 'inline-block';
                button1.innerHTML = "Move to hallway"
                button2.style.display = 'inline-block';
                button3.style.display = 'inline-block';
                
            } else { // currently in hallway
                button1.style.display = 'inline-block';
                button1.innerHTML = "Move to room"
                button2.style.display = 'none';
                button3.style.display = 'inline-block';
            }

            return true;
        } catch (error) {
            console.log(`load_my_character_info axios.post got an error: ${error}`);
            alert(error.message);
            throw error;
        }
    }

    async function load_my_turn_options()
    {
        console.log("load_my_turn_options()");
        var url = `/api/game/${g_room_id}/character/valid_moves/`;

        try{
            const response = await axios.post(url, null, {
              headers: {
                'accept': 'application/json',
                'Authorization': `Bearer ${g_token}`
              }
            });
            console.log(response.data);
            return true;
        } catch (error) {
            console.log(`load_my_turn_options axios.post got an error: ${error}`);
            return false;
        }

        /*
        const strings = ['Button 1', 'Button 2', 'Button 3', 'Button 4', 'Button 5'];

        function createButtons() {
            const buttonContainer = document.getElementById('buttonContainer');
            // Clear existing buttons
            buttonContainer.innerHTML = '';

            // Create a button for each string in the array
            strings.forEach(str => {
                const button = document.createElement('button');
                button.textContent = str;
                button.addEventListener('click', () => {
                    alert(`Button ${str} clicked!`);
                });
                buttonContainer.appendChild(button);
            });
        }
        */
    }


    // Do everytime we load the page
    //load_other_character_info();
    load_my_character_info();
    load_my_turn_options();

   

</script>


<!--


    
    <div>
        <h1> Clue-Less Game Board</h1>

        <style>
            body {
                margin: 0;
                padding: 0;
                display: flex;
            }
            .left-column {
                flex: 2;
                background-color: lightblue;
                padding: 20px;
            }
            .right-column {
                flex: 3;
                background-color: lightgreen;
                padding: 20px;
            }
        </style>


        </head>
        <body>
       <!-- <div class="grid" id="grid"></div> 
        <div class="left-column">
            <h2>Left Column</h2>
            <p>This is the left column with a light blue background color.</p>
            <!--

            
            <table>
                <caption>5x5 Grid</caption>
                <tbody>
                    
                    <tr>
                        <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
                    </tr>
                    <tr>
                        <td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
                    </tr>
                    <tr>
                        <td>11</td><td>12</td><td>13</td><td>14</td><td>15</td>
                    </tr>
                    <tr>
                        <td>16</td><td>17</td><td>18</td><td>19</td><td>20</td>
                    </tr>
                    <tr>
                        <td>21</td><td>22</td><td>23</td><td>24</td><td>25</td>
                    </tr>
                </tbody>
            </table>
        
        </div>
        <div class="right-column">
            <h2>Right Column</h2>
            <p>This is the right column with a light green background color.</p>
            <!--<input type="text" id="textbox" readonly>
        </div>
       
    </div>
    <script>

    </script>
-->
{% block body %}{% endblock %}