<!DOCTYPE html>
<html>
<body>
    <h1>Welcome to Clue-Less!</h1>
    
    <div>
        <h2>Please create a new user:</h2>
        <form>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br>
            <button type="submit" onclick="postCreateUser()">Create</button>
        </form>
        <p id="create-user-response"></p>
        <br>

        <h2>Or login:</h2>
        <form>
            <label for="login-email">Email:</label>
            <input type="text" id="login-email" name="login-email"><br>
            <label for="login-password">Password:</label>
            <input type="text" id="login-password" name="login-password"><br>
            <button type="submit" onclick="postLogin()">Login</button>
        </form>
        <p id="login-response"></p>
        <br>

    </div>

    <script>

        async function postCreateUser(){
            console.log("postCreateUser()");
            const url = "/api/auth/register";

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const data = {
                "email": email,
                "password": password,
                "is_active": true,
                "is_superuser": false,
                "is_verified": false
            };

            const repsonse = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(data)
            });

            console.log(response);

            if(response.ok){
                result_string = "Successfully created a new user! Please log in below.";
                document.getElementById('create-user-response').innerText = result_string;
            } else {
                result_string = "Failed to create a new user, please try again.";
                document.getElementById('create-user-response').innerText = result_string;
            }

            return response;
        }

        async function postLogin(){
            console.log("postLogin()")
            const url = '/api/auth/jwt/login';

            const email = document.getElementById('login-email').value;
            const password = document.getElementById('login-password').value;
            const data = 'grant_type=&username=' + email + '&password=' + password + '&scope=&client_id=&client_secrete=';

            let response = fetch(url, {
                method: 'POST',
                headers: {
                    'accept': 'application/json',
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: data
            });

            console.log(response);

            if(response.ok){
                result_string = "Successfully created a new user! Please log in below.";
                document.getElementById('login-response').innerText = result_string;
            } else {
                result_string = "Failed to create a new user, please try again.";
                document.getElementById('login-response').innerText = result_string;
            }

            return response;
        }
    </script>



</body>
</html>


