{% include "base_layout.html" %}
    <div>
        <form id="loginForm", onsubmit="return false;">
            <label for="login-email">Email:</label>
            <input type="text" id="login-email" name="login-email"><br>
            <label for="login-password">Password:</label>
            <input type="text" id="login-password" name="login-password"><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <script>
        function loginUser(username, password){
            console.log("loginUser()");
            const url = "/api/auth/jwt/login";
          
            const params = new URLSearchParams();
            params.append('username', username);
            params.append('password', password);
            params.append('grant_type', '');
            params.append('client_secret', '');
            params.append('scope', '');
          
            axios.post(url, params)
              .then((response) => {
                console.log(response.data);
                const token = response.data["access_token"]
                console.log(`Logged in, setting cookie ${token}`)
                document.cookie = `token=${token}`;
          
              })
              .catch( function(error) {
                console.log(error)
              });
          }

        async function postLogin(){
            console.log("postLogin()")
            const url = '/api/auth/jwt/login';

            const email = document.getElementById('login-email').value;
            const password = document.getElementById('login-password').value;

            loginUser(email, password)
        }

        document.getElementById("loginForm").addEventListener("submit", postLogin);

        console.log(`Cookie: ${document.cookie}`)
    </script>
{% block body %}{% endblock %}