<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <h1>Clue-Less</h1>

        <button onclick="generateRoomCode()">Generate Room Code</button>
        <p id="room-code"></p>

        <form id="room-form">
            <label for="room-id">Room ID:</label>
            <input type="text" id="room-id" required>
            <button type="submit" id="room-submit">Join</button>

    </div>

    <script>

        async function generateRoomCode(){
            const response = await fetch("/api/room/", { method: 'POST' } );
            const roomCode = await response.text();
            document.getElementById("room-code").innerText = roomCode;
        }

        //const roomForm = document.getElementById('room-form')

    </script>
    
</body>
</html>