{% include "base_layout.html" %}
    <div>
        <form id="loginForm", onsubmit="postLogin(); return false;">
            <label for="login-email">Email:</label>
            <input type="text" id="login-email" name="login-email"><br>
            <label for="login-password">Password:</label>
            <input type="text" id="login-password" name="login-password"><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <script>
        function loginUser(username, password){
            console.log("loginUser()");
            const url = "http://127.0.0.1:8080/api/auth/jwt/login";
          
            const params = new URLSearchParams();
            params.append('username', username);
            params.append('password', password);
            params.append('grant_type', '');
            params.append('client_secret', '');
            params.append('scope', '');
          
            axios.post(url, params)
              .then((response) => {
                console.log(response.data);
                const token = response.data["access_token"]
                console.log(`Logged in, setting cookie ${token}`)
                document.cookie = `token=${token}`;
          
              })
              .catch( function(error) {
                console.log(error)
              });
          }

        async function postLogin(){
            console.log("postLogin()")

            if(verify(getCookie("token"))){
              console.log('Already logged in');
              console.log(`Cookie: ${document.cookie}`)
            } else {
              console.log('Sending login');
              const url = 'http://127.0.0.1:8080/api/auth/jwt/login';

              const email = document.getElementById('login-email').value;
              const password = document.getElementById('login-password').value;
  
              loginUser(email, password);
            }

            window.location.href = "/join_game/" + email
        }

        function getCookie(c_name)
        {
            var i,x,y,ARRcookies=document.cookie.split(";");
        
            for (i=0;i<ARRcookies.length;i++)
            {
                x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
                y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
                x=x.replace(/^\s+|\s+$/g,"");
                if (x==c_name)
                {
                    return unescape(y);
                }
             }
        }

        function verify(token){
            console.log("verify()");
            const url = "http://127.0.0.1:8080/api/auth/whoami";
      
            //token = getCookie("token")
      
            console.log(token)
      
            axios.get(url, {
              headers: {
                Authorization: `Bearer ${token}`,
              }
            })
              .then((response) => {
                console.log(response.data);
                console.log("Verified")
      
                window.location.href = "/join_game/" + email
      
                return true;
                
              })
              .catch(function(error) {
                console.log(error)
                console.log("Not logged in")
                return false;
              });

              return true;
          }

        //document.getElementById("loginForm").addEventListener("submit", postLogin);

        
    </script>
{% block body %}{% endblock %}