{% include "base_layout.html" %}

    <div>
        <h1>Register:</h1>
        <form id="registerForm", onsubmit="postCreateUser(); return false;">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br>
            <button type="submit">Create User</button>
        </form>
    </div>
    <script>

        async function loginUser(username, password) {
            console.log("loginUser()");
            const url = "http://127.0.0.1:8080/api/auth/jwt/login";
        
            const params = new URLSearchParams();
            params.append('username', username);
            params.append('password', password);
            params.append('grant_type', '');
            params.append('client_secret', '');
            params.append('scope', '');
        
            try {
                const response = await axios.post(url, params);
                console.log(response.data);
                const token = response.data["access_token"];
                console.log(`Logged in, setting cookie ${token}`);
                document.cookie = `token=${token}`;
            } catch (error) {
                console.log(`loginUser axios.post got an error: ${error}`);
            }
        }
  
        async function createUser(username, password){
            console.log("createUser()");
            const url = "http://127.0.0.1:8080/api/auth/register";

            try {
                const response = await axios.post(url, {
                    email: username,
                    password: password,
                    is_active: true,
                    is_superuser: false,
                    is_verified: true
                });
                console.log(response.data);
            } catch (error){
                console.log(`createUser axios.post got an error: ${error}`);
            }
        }

        async function postCreateUser() {
            event.preventDefault(); // Prevent the form from submitting normally
            console.log("postCreateUser()");

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            try{
                await createUser(email, password);
            } catch (error){
                console.log(`postCreateUser got an error: ${error}`);
            }

            try {
                await loginUser(email, password);
            } catch (error) {
                console.log(`loginUser got an error: ${error}`);
            }

            window.location.href = "/join_game/" + email
        }

    </script>
{% block body %}{% endblock %}