{% include "base_layout.html" %}
    
    <div>
        <h1> Clue-Less </h1>

        <h2> Room Key: {{room.room_key}} </h2>

        <h2>Current Players</h2>
        <ul>
        </ul>

        <!--

        
        {% for user in room.users %}
          <li>
            <em>{{ user }}:</em> 0/{{ room.player_limit }}, {{ room.room_key }}
          </li>
        {% endfor %}
        -->

        <ul>
          {% for user in room.users %}
          <li>{{ user }}</li>
          {% endfor %}
        </ul>

        <button onclick='start_game("{{ room.room_key }}")'>Start Game</button>
    </div>
    <script>

        async function start_game(room_key)
        {
            event.preventDefault();
            console.log("start_game()");
            var url = `/api/room/${room_key}/start/`;

            const token = document.cookie
            .split('; ')
            .find(row => row.startsWith('token='))
            .split('=')[1];
            console.log("token: ",token);

            try{
                const response = await  axios.post(url, null, {
                  headers: {
                    'accept': 'application/json',
                    'Authorization': `Bearer ${token}`,
                  }
                });
                console.log(response.data);
                window.location.href = `/gameboard/${room_key}`;
            } catch (error) {
                console.log(`start_game axios.post got an error: ${error}`);
            }
        }


    </script>

{% block body %}{% endblock %}