{% include "base_layout.html" %}
    
    <div>
        <h1> Clue-Less </h1>

        <h2> Room Key: {{room.room_key}} </h2>

        <h2>Current Players</h2>
        <ul>
        </ul>

        <!--

        
        {% for user in room.users %}
          <li>
            <em>{{ user }}:</em> 0/{{ room.player_limit }}, {{ room.room_key }}
          </li>
        {% endfor %}
        -->

        <ul>
          {% for user in room.users %}
          <li>{{ user }}</li>
          {% endfor %}
        </ul>

        <button onclick="startGame()">Start Game</button>
    </div>
    <script>

        async function startGame()
        {
          console.log("startGame()");
          var room_id = "{{ room.room_key }}";
          console.log("room_id",room_id)
          window.location.href = `/gameboard/${room_id}`;
        }


    </script>

{% block body %}{% endblock %}